@model Dashboard.Models.Configuration
@{
    ViewBag.Title = "Konfiguracija postavki";
}


<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
</div>

<div class="row">

    <section id="loginForm">
        @using (Html.BeginForm("UnosPodataka", "Configuration", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary()

    <div class="col-md-4">

        <div class="col-md-12">
            <h2>Machines</h2>
            <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>

            <div class="form-group">
                @Html.LabelFor(m => m.MachineName, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.MachineName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.EventSettings, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.EventSettings, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RuleSettings, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.RuleSettings, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ServiceSettings, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ServiceSettings, new { @class = "form-control" })
                </div>
            </div>

            <h2>Services</h2>

            <div class="form-group">
                @Html.LabelFor(m => m.IntervalMinutes, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.IntervalMinutes, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ScheduledTime, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ScheduledTime, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ServiceName, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ServiceName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Unesi podatke" class="btn btn-primary btn-large" id="btnSubmit" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="col-md-12">
            <h2>Targets</h2>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>

            <div class="form-group">
                @Html.LabelFor(m => m.Type, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FileName, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.FileName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Layout, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Layout, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TargetName, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.TargetName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Unesi podatke" class="btn btn-primary btn-large" id="btnSubmit" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="col-md-12">

            <h2>Rules</h2>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            </p>

            <div class="form-group">
                @Html.LabelFor(m => m.RuleName, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.RuleName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MinLevel, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.MinLevel, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.WriteTo, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.WriteTo, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Unesi podatke" class="btn btn-primary btn-large" id="btnSubmit" />
                </div>
            </div>
        </div>
    </div>

        }
</section>

</div>
